html {
  height: 100%;
}

body{
    color:whitesmoke;
    background: #003972; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#003972, lightblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#003972, lightblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#003972, lightblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top bottom, #003972, lightblue); /* Standard syntax */
}   
 
.disabled{
    pointer-events:none;
    opacity:0.4;
}

h2{
    color:whitesmoke;
}

h3{
    color:whitesmoke;
}

table {
        border-collapse:separate;
        border:solid #011427 1px;
        border-radius:10px;
        -moz-border-radius:10px;
    }

    td, th{
        border-left:solid #011427 1px;
        border-top:solid #011427 1px;
        padding:5px;
    }

    th {
        background-color:navy;
        border-top: none;
        color:antiquewhite;
    }

    th:first-child{
        border-top-left-radius:8px;
        -moz-border-radius-topleft:8px;
    }

    th:last-child {
        border-top-right-radius: 8px;
        -moz-border-radius-topright: 8px;
    }

    th:first-child, td:first-child {
         border-left: none;
    }

    a {
        color:#011427;
    }
        
    input {
        color:#011427;
        font:bold;
        padding:2px;
    }

.progressdiv {
    text-align: center;
    vertical-align: middle;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: rgba(1,1,1,0.1);
}
.progresstext {
    top: 60%;
    left: 47%;
    position: absolute;
    color: white;
}

.spinner {
   display:inline-block;
   position: absolute;
   left: 50%;
   top: 50%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,38,255,.15);
   border-right:6px solid rgba(0,38,255,.15);
   border-bottom:6px solid rgba(0,38,255,.15);
   border-top:6px solid rgba(0,38,255,.8);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}