<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="HRMS Logs" />
      <param name="ApplicationName" value="HRMS Application" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <!--filter out nhibernate logs-->
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NHibernate" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>
    
    <appender name="RollingFile1" type="log4net.Appender.RollingFileAppender">
      <file value="C:\HRMS\Logs\HRMSLocal.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1024KB"/>
      <maxSizeRollBackups value="500"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %p %c %M %L %m %n"/>
      </layout>
      filter out nhibernate logs
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="NHibernate" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>

    <root>
      <priority value="ALL" />
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="RollingFile1"/>
    </root>

  </log4net>

</configuration>