<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.serviceModel xdt:Transform="Replace">
    <services>
      <service name="HRMSService.EmployeeService" behaviorConfiguration="HRMSService.EmployeeServiceBehavior">
          <host>  
          <baseAddresses>  
            <add baseAddress="https://localhost/HRMSService/"/>  
          </baseAddresses>  
         </host>  
          <endpoint 
              binding="webHttpBinding" 
              bindingConfiguration="MyWebHttp"
              contract="HRMSService.IEmployeeService" 
              behaviorConfiguration="restfulBehavior">
        </endpoint>
        <endpoint address="mex"
              binding="mexHttpsBinding"
              contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="MyWebHttp" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" receiveTimeout="05:00:00" openTimeout="05:00:00" closeTimeout="05:00:00" sendTimeout="05:00:00">
          <security mode="Transport">
          </security>
        <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HRMSService.EmployeeServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="50" maxConcurrentInstances="20" />
          <serviceAuthorization serviceAuthorizationManagerType="HRMSService.RestAuthorizationManager, HRMSService"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"></webHttp>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <protocolMapping>  
       <add binding="webHttpBinding" scheme="https"/>  
    </protocolMapping>
  
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>