<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>    
    <add key="MessageQueUserName" value="parsms" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MessageQuePassword" value="VE3ktTHcCgQRL1kc" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MessageQueUserURI" value="rabbitmq://wenet.vacationroost.com:5672/parsms/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ServiceQueueName" value="HubBookingPublisher" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <!--<system.serviceModel xdt:Transform="Replace">
    <services>
      <service name="HubBookingServiceListener.BookingService" behaviorConfiguration="HubBookingServiceListener.BookingServiceBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="secureHttpBinding" address="basic" contract="HubBookingServiceListener.IBookingService" behaviorConfiguration="HubBookingServiceListener.BookingServiceBehavior"></endpoint>
        <endpoint binding="webHttpBinding" bindingConfiguration="MyWebHttps" address="" contract="HubBookingServiceListener.IBookingService" behaviorConfiguration="restfulBehavior"></endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" behaviorConfiguration="HubBookingServiceListener.BookingServiceBehavior" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="MyWebHttps" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" receiveTimeout="05:00:00" openTimeout="05:00:00" closeTimeout="05:00:00" sendTimeout="05:00:00">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="secureHttpBinding" maxBufferSize="500000000" maxBufferPoolSize="524288" maxReceivedMessageSize="500000000">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="HubBookingServiceListener.BookingServiceBehavior" />
        <behavior name="restfulBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"></webHttp>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="HubBookingServiceListener.BookingServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="50" maxConcurrentInstances="20" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>-->

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
</configuration>