<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="HRMSDB" connectionString="Server=(local)\SQLEXPRESS;Data Source=P39038\SQLEXPRESS;Initial Catalog=HRMSDB;Persist Security Info=True;User ID=sa; Password=superuser"/>
    <add name="WebHookDB" connectionString="Server=(local)\SQLEXPRESS;Data Source=P39038\SQLEXPRESS;Initial Catalog=WebHookDB;Persist Security Info=True;User ID=sa; Password=superuser"/>
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <service name="SelfHostedHRMSService.TestService" behaviorConfiguration="SelfHostedHRMSService.TestServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:9990/TestService/"/>
          </baseAddresses>
        </host>
        <endpoint
              binding="webHttpBinding"
              address=""
              bindingConfiguration="MyWebHttp"
              contract="SelfHostedHRMSService.ITestService"
              behaviorConfiguration="restfulBehavior">
        </endpoint>
        <endpoint address="mex"
              binding="mexHttpsBinding"
              contract="IMetadataExchange"/>
      </service>
      <service name="SelfHostedHRMSService.AuthenticationService" behaviorConfiguration="SelfHostedHRMSService.TestServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:9990/AuthenticationService/"/>
          </baseAddresses>
        </host>
        <endpoint
              binding="webHttpBinding"
              address=""
              bindingConfiguration="MyWebHttp"
              contract="SelfHostedHRMSService.IAuthenticationService"
              behaviorConfiguration="restfulBehavior">
        </endpoint>
        <endpoint address="mex"
              binding="mexHttpsBinding"
              contract="IMetadataExchange"/>
      </service>
      <service name="SelfHostedHRMSService.EmployeeService" behaviorConfiguration="SelfHostedHRMSService.TestServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:9990/HRMSService/"/>
          </baseAddresses>
        </host>
        <endpoint
              binding="webHttpBinding"
              address=""
              bindingConfiguration="MyWebHttp"
              contract="SelfHostedHRMSService.IEmployeeService"
              behaviorConfiguration="restfulBehavior">
        </endpoint>
        <endpoint address="mex"
              binding="mexHttpsBinding"
              contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="MyWebHttp" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" receiveTimeout="05:00:00" openTimeout="05:00:00" closeTimeout="05:00:00" sendTimeout="05:00:00">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SelfHostedHRMSService.TestServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="50" maxConcurrentSessions="50" maxConcurrentInstances="20" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true"></webHttp>
          <CorsSupport />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="CorsSupport" type="WebHttpCors.CorsSupportBehaviorElement, WebHttpCors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>