<div id="employeeDetail" style="display:none;">
    <h3>Employee Information Detail</h3>
    <table>
        <tr>
            <th colspan="2">Personal Information</th>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" ng-model="Employee.FirstName" /></td>
        </tr>
        <tr>
            <td>Middle Name:</td>
            <td><input type="text" ng-model="Employee.MiddleName" /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" ng-model="Employee.LastName" /></td>
        </tr>
    </table>
</div>