<div>
    <h1>Employee Information</h1>
    First Name: {{Employee.FirstName}}<br/>
    Middle Name: {{Employee.MiddleName}}<br />
    Last Name: {{Employee.LastName}}
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" ng-model="Employee.FirstName" /></td>
        </tr>
        <tr>
            <td>Middle Name:</td>
            <td><input type="text" ng-model="Employee.MiddleName" /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" ng-model="Employee.LastName" /></td>
        </tr>
    </table>
</div>