<div>
    <table border="1">
        <tr>
            <th colspan="4">List Of Employees</th>
        </tr>
        <tr>
            <td>Employee Id</td>
            <td>First Name</td>
            <td>Middle Name</td>
            <td>Last Name</td>
        </tr>
        <tr ng-repeat="Employee in Employees">
            <td><a href="#employeedetail?employeeId={{Employee.EmployeeId}}" onclick="$('#mainmenu3').addClass('active'); $('#mainmenu2').removeClass('active');">{{Employee.EmployeeId}}</a></td>
            <td>{{Employee.FirstName}} </td>
            <td>{{Employee.MiddleName}}</td>
            <td>{{Employee.LastName}}</td>
        </tr>
    </table>
</div>
